In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [12]:
char_df = pd.read_csv('./charcters_stats.csv')
char_df.head(5)

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-D Man,good,50,31,43,32,25,52,233
1,A-Bomb,good,38,100,17,80,17,64,316
2,Abe Sapien,good,88,14,35,42,35,85,299
3,Abin Sur,good,50,90,53,64,84,65,406
4,Abomination,bad,63,80,53,90,55,95,436

In [13]:
char_df.dtypes

Name            object
Alignment       object
Intelligence     int64
Strength         int64
Speed            int64
Durability       int64
Power            int64
Combat           int64
Total            int64
dtype: object

## 수치 합이 가장 높은 캐릭터 구하기

In [20]:
char_df[char_df['Total'] == char_df['Total'].max()].Name

361    Martian Manhunter
Name: Name, dtype: object

## 좋은 캐릭터와 나쁜 캐릭터의 능력치들의 수치 분포

In [ ]:
char_df['Alignment'].unique()